// Enter any custom Sass in this file.

label {
  pointer-events: none;
}

label .input {
  display: none;
}

.toggle-switch-check:checked ~ .toggle-switch-bar::before {
    background-color: #0B5FFF;
    border-color: #0B5FFF;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

.toggle-switch-check:checked ~ .toggle-switch-bar::after {
    background-color: #FFF;
    border-color: #FFF;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    left: 32px;
}

.toggle-switch-check:empty ~ .toggle-switch-bar::after {
    background-color: #FFF;
    border-color: #FFF;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    bottom: 4px;
    content: '';
    display: block;
    height: 24px;
    left: 4px;
    position: absolute;
    top: 4px;
    transition: background-color 100ms ease-in, border-color 100ms ease-in, box-shadow 150ms ease-in-out, color 100ms ease-in, left 100ms ease-in, right 100ms ease-in;
    width: 24px;
}

.toggle-switch-check:checked ~ .toggle-switch-bar .toggle-switch-handle::after {
    content: '\FEFF' attr(data-label-on);
}

.toggle-switch-check:empty ~ .toggle-switch-bar::before {
    background-color: #A7A9BC;
    border-color: #A7A9BC;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 100ms ease-in, border-color 100ms ease-in, box-shadow 150ms ease-in-out, color 100ms ease-in, left 100ms ease-in, right 100ms ease-in;
    width: 60px;


.toggle-switch-check:empty ~ .toggle-switch-bar .toggle-switch-handle::after {
    content: '\FEFF' attr(data-label-off);
    margin-left: 68px;
    transition: background-color 100ms ease-in, border-color 100ms ease-in, box-shadow 150ms ease-in-out, color 100ms ease-in, left 100ms ease-in, right 100ms ease-in;
    white-space: nowrap;
}
