// Enter any custom Sass in this file.

input[type="checkbox"].toggle {
  appearance: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  background-color: #8d8d8d;
  border-radius: 1em;
  margin-right: .25em;
  transition: background-color 200ms ease-in-out;
}

#units,
#serieses,
#toggles {
  clear: left;
  margin-bottom: 20px;
  }
  #units label,
  #serieses label,
  #toggles label {
    font-weight: normal;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%; }


input[type="checkbox"].toggle::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: .5em;
  height: .9em;
  left: .2em;
  width: 1.8em;
  height: 1.8em;
  background-color: white;
  color: white;
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked {
  background-color: #0770e3;
}

input[type="checkbox"].toggle:checked::after {
  content: "\2713";
  transform: translateX(100%);
  background-color: white;
}
