<script type="text/template" id="categories_template">
  <h4>Categories</h4>
  <select class="select" id="category-select" name="category-select">
    <option value="total" selected>Headline</option>
    <% _.each(fields, function(fieldItem) { %>
      <% if(_.includes(fieldsWithGlobalValues, fieldItem)) { %>
        <option value="<%=fieldItem.field%>" disabled><%=fieldItem.field%></option>
        <% _.each(fieldItem.values, function(item) { %>
	        <option value="<%=item.value%>">- <%=translations.t(item.value)%></option>
        <% }); %>
      <% }); %>
    <% }); %>
  </select>  
</script>
