<div id="toggles" class="compare-toggle">
  <h4 id="compare-toggle-title">Compare national and global data</h4>
  <p>
      National data refers to data reported by the UK.<br>
      Global data refers to data reported for the UK by the custodian agency.<br><br>
      Turning this on will limit the amount of subcategories you can view at one time.
  </p>
  <label for="toggle-check">
    <input type="checkbox" id="toggle-check" class="toggle" role="switch" aria-checked="false" aria-labelledby="compare-toggle-title">
    <span class="label" toggle-on="ON" toggle-off="OFF"</span>
  <label
</div>
  
