<div class="compare-toggle">
  <h4 id="compare-toggle-title">Compare national and global data</h4>
  <p>
      National data refers to data reported by the UK.<br>
      Global data refers to data reported for the UK by the custodian agency.<br><br>
      Turning this on will limit the amount of subcategories you can view at one time.
  </p>
  <button type="button" id="toggle" role="switch" aria-checked="false" aria-labelledby="compare-toggle-title" class="toggle">
    <span></span>
  </button>
</div>
  
