<button class="accordion">Indicator information</button>
<div class="panel">
<dl>
<dt>Goal</dt>
<dd>{{ page.indicator[SDG_GOAL__GLOBAL] }}</dd>
<dt>Target</dt>
<dd>{{ page.indicator[SDG_TARGET__GLOBAL] }}</dd>
<dt>Indicator</dt>
<dd>{{ page.indicator[SDG_INDICATOR__GLOBAL] }}</dd>
<dt>Series</dt>
<dd>{{ page.indicator[SDG_SERIES_DESCR__GLOBAL] }}</dd>
<dt>Related indicators</dt>
<dd>{{ page.indicator[SDG_RELATED_INDICATORS__GLOBAL] }}</dd>
<dt>Custodian agencies</dt>
<dd>{{ page.indicator[SDG_CUSTODIAN_AGENCIES__GLOBAL] }}</dd>
</dl>
</div>

<button class="accordion">Data reporter</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Definitions, concepts and classifications</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
