<table class="table">
  <thead>
    <tr>
      <th scope="col">Field</th>
      <th scope="col">National metadata</th>
      <th scope="col">Global metadata</th>
    </tr>
  </thead>
  {% for indicator_metadata in site.data.schema %}
    {%- assign metadata_label = indicator_metadata.name | translate_metadata_field -%}
    <tr>
      <th scope="row">{{ metadata_label }}</th>
      {% if indicator_metadata.field.scope == 'national' %}
        <td>{{ page.indicator[indicator_metadata.name] | markdownify }}</td>
      {% endif %}
      {% if indicator_metadata.field.scope == 'global' %}
        <td>{{ page.indicator[indicator_metadata.name] | markdownify }}</td>
      {% endif %}
  {% endfor %}
</table>
